---
import Folio from "../layouts/Folio.astro";
import ContactCard from "../components/ContactCard.astro";
import Footer from "../components/Footer.astro";
import CardProyects from "../components/CardProyects.astro";
import IconContainer from "../components/IconContainer.astro";
import Picture_Enrique from "../../public/assets/Enagar.png";

---

<Folio title="Enrique Aguilar Armenta">
  <section class="hero" id="home">
    <div class="hero-content">
      <h1>Hola 👋 soy <span> Enrique Armenta </span></h1>
      <div class="text-animate">
        <h3>Desarrollador de Software</h3>
      </div>
      <p>
        Estudiante de Ingeniería En Software. Con capacidad para aprender y aplicar mis conocimientos al ámbito profesional.
      </p>
      <div class="btn-box">
        <a href="./cv/CV.Enrique_Aguilar_Armenta.pdf"
        download
        type="button"
        class="btn">Descargar CV</a>
        <a href="#contact" class="btn">Contacto</a>
      </div>
    </div>
    <div class="img">
      <img
        src={Picture_Enrique}
        alt="Profile Pic"
        decoding="async"
        loading="lazy"
      />
    </div>
    <div class="social">
      <a href="https://www.linkedin.com/in/enrique-aguilar-armenta/"><i class="bx bxl-linkedin"></i></a>
      <a href="https://github.com/Enagarlol"><i class="bx bxl-github"></i></a>
      <!-- Si quieres más agregalas -->
    </div>
  </section>
  <!-- Educacion -->
  <section class="edu">
    <h2 class="heading">Educación</h2>
    <div class="edu-row">
      <div class="edu-col">
        <h3 class="title">Formación</h3>
        <div class="edu-box">
          <div class="edu-cont">
            <div class="content">
              <div class="year">
                <i class="bx bx-calendar-star"></i> 2017-2020
              </div>
              <h4>Técnico En Programación</h4>
              <p>
                Centro De Bachillerato Tecnológico 88.Tapachula,Chiapas
              </p>
            </div>
          </div>
          <div class="edu-cont">
            <div class="content">
              <div class="year">
                <i class="bx bx-calendar-star"></i> 2020-2023
              </div>
              <h4>Ingeneria En Software</h4>
              <p>
                (UPTAP) Universidad Politecnica De Tapachula.Tapachula,Chiapas
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Skills -->
  <section class="container skill">
    <h2 class="heading">Conocimiento</h2>
    <div class="grid col-6 md-col-3 sm-col-2" style="margin-top:50px">
      <IconContainer tech="HTML" colorBorder=#da3e8f>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          viewBox="0 0 24 24"
          style="fill: rgba(255, 99, 9, 1);transform: ;msFilter:;"
          ><path
            d="M4.136 3.012h15.729l-1.431 16.15-6.451 1.826-6.414-1.826-1.433-16.15zm5.266 7.302-.173-2.035 7.533.002.173-1.963-9.87-.002.522 5.998h6.835l-.243 2.566-2.179.602-2.214-.605-.141-1.58H7.691l.247 3.123L12 17.506l4.028-1.08.558-6.111H9.402v-.001z"
          ></path></svg
        >
      </IconContainer>
      <IconContainer tech="CSS" colorBorder=#da3e8f>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          viewBox="0 0 24 24"
          style="fill: rgba(9, 151, 255, 1);transform: ;msFilter:;"
          ><path
            d="M4.192 3.143h15.615l-1.42 16.034-6.404 1.812-6.369-1.813L4.192 3.143zM16.9 6.424l-9.8-.002.158 1.949 7.529.002-.189 2.02H9.66l.179 1.913h4.597l-.272 2.62-2.164.598-2.197-.603-.141-1.569h-1.94l.216 2.867L12 17.484l3.995-1.137.905-9.923z"
          ></path></svg
        >
      </IconContainer>
      <IconContainer tech="JavaScript" colorBorder=#da3e8f>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          viewBox="0 0 24 24"
          style="fill: rgba(239, 255, 9, 1);transform: ;msFilter:;"
          ><path
            d="M3 3h18v18H3V3zm16.525 13.707c-.131-.821-.666-1.511-2.252-2.155-.552-.259-1.165-.438-1.349-.854-.068-.248-.078-.382-.034-.529.113-.484.687-.629 1.137-.495.293.09.563.315.732.676.775-.507.775-.507 1.316-.844-.203-.314-.304-.451-.439-.586-.473-.528-1.103-.798-2.126-.775l-.528.067c-.507.124-.991.395-1.283.754-.855.968-.608 2.655.427 3.354 1.023.765 2.521.933 2.712 1.653.18.878-.652 1.159-1.475 1.058-.607-.136-.945-.439-1.316-1.002l-1.372.788c.157.359.337.517.607.832 1.305 1.316 4.568 1.249 5.153-.754.021-.067.18-.528.056-1.237l.034.049zm-6.737-5.434h-1.686c0 1.453-.007 2.898-.007 4.354 0 .924.047 1.772-.104 2.033-.247.517-.886.451-1.175.359-.297-.146-.448-.349-.623-.641-.047-.078-.082-.146-.095-.146l-1.368.844c.229.473.563.879.994 1.137.641.383 1.502.507 2.404.305.588-.17 1.095-.519 1.358-1.059.384-.697.302-1.553.299-2.509.008-1.541 0-3.083 0-4.635l.003-.042z"
          ></path></svg
        >
      </IconContainer>
      <IconContainer tech="NodeJs" colorBorder=#da3e8f>
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(9, 255, 129, 1);transform: ;msFilter:;"><path d="M12 21.985c-.275 0-.532-.074-.772-.202l-2.439-1.448c-.365-.203-.182-.277-.072-.314.496-.165.588-.201 1.101-.493.056-.037.129-.02.185.017l1.87 1.12c.074.036.166.036.221 0l7.319-4.237c.074-.036.11-.11.11-.202V7.768c0-.091-.036-.165-.11-.201l-7.319-4.219c-.073-.037-.165-.037-.221 0L4.552 7.566c-.073.036-.11.129-.11.201v8.457c0 .073.037.166.11.202l2 1.157c1.082.548 1.762-.095 1.762-.735V8.502c0-.11.091-.221.22-.221h.936c.108 0 .22.092.22.221v8.347c0 1.449-.788 2.294-2.164 2.294-.422 0-.752 0-1.688-.46l-1.925-1.099a1.55 1.55 0 0 1-.771-1.34V7.786c0-.55.293-1.064.771-1.339l7.316-4.237a1.637 1.637 0 0 1 1.544 0l7.317 4.237c.479.274.771.789.771 1.339v8.458c0 .549-.293 1.063-.771 1.34l-7.317 4.236c-.241.11-.516.165-.773.165zm2.256-5.816c-3.21 0-3.87-1.468-3.87-2.714 0-.11.092-.221.22-.221h.954c.11 0 .201.073.201.184.147.971.568 1.449 2.514 1.449 1.54 0 2.202-.35 2.202-1.175 0-.477-.185-.825-2.587-1.063-1.999-.2-3.246-.643-3.246-2.238 0-1.485 1.247-2.366 3.339-2.366 2.347 0 3.503.809 3.649 2.568a.297.297 0 0 1-.056.165c-.037.036-.091.073-.146.073h-.953a.212.212 0 0 1-.202-.164c-.221-1.012-.789-1.34-2.292-1.34-1.689 0-1.891.587-1.891 1.027 0 .531.237.696 2.514.99 2.256.293 3.32.715 3.32 2.294-.02 1.615-1.339 2.531-3.67 2.531z"></path></svg>
      </IconContainer>
      <IconContainer tech="Svelte" colorBorder=#da3e8f>
        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="60px" height="60px"><path fill="#ef4823" d="M40.311,8.7C36.352,2.998,27.6,0.647,21.934,4.243l-9.987,6.392	c-2.724,1.707-4.612,4.503-5.157,7.663c-0.472,2.651,0.991,4.848,2.262,7.208c-0.872,1.307-2.516,3.287-2.77,4.813	c-0.581,3.232,0.182,6.573,2.07,9.225c3.995,5.702,11.914,7.741,17.579,4.146l9.913-6.724c2.724-1.707,4.612-4.503,5.157-7.663	c0.472-2.651,0.073-5.375-1.198-7.736c0.872-1.307,1.453-2.76,1.707-4.285C42.127,14.012,42.235,11.351,40.311,8.7"/><path fill="#010101" d="M19.64,45.946c-1.064,0-2.149-0.13-3.234-0.393c-3.425-0.831-6.42-2.871-8.433-5.744	c-1.962-2.754-2.745-6.244-2.147-9.572c0.216-1.297,1.316-2.837,2.201-4.074c0.172-0.24,0.336-0.47,0.484-0.684	c-0.101-0.185-0.203-0.37-0.304-0.553c-1.14-2.065-2.319-4.2-1.872-6.709c0.566-3.284,2.523-6.192,5.367-7.974l9.984-6.39	c5.748-3.648,14.804-1.465,19.003,4.579c1.957,2.698,1.94,5.418,1.277,8.93c-0.251,1.501-0.798,2.922-1.627,4.23	c1.198,2.357,1.596,5.112,1.119,7.792c-0.566,3.281-2.519,6.187-5.36,7.969l-9.906,6.72c-0.004,0.003-0.008,0.005-0.012,0.008	C24.236,45.314,21.987,45.946,19.64,45.946z M28.218,2.986c-2.167,0-4.269,0.527-6.034,1.647l-9.986,6.391	c-2.625,1.645-4.429,4.324-4.951,7.352c-0.39,2.189,0.66,4.09,1.77,6.102c0.148,0.268,0.297,0.537,0.443,0.809	c0.081,0.151,0.072,0.334-0.022,0.476c-0.192,0.288-0.418,0.604-0.657,0.939c-0.829,1.159-1.86,2.602-2.042,3.693	c-0.556,3.09,0.17,6.325,1.991,8.88c3.953,5.642,11.553,7.446,16.948,4.027l9.907-6.72c0.005-0.003,0.009-0.006,0.014-0.009	c2.622-1.643,4.425-4.322,4.947-7.349c0.458-2.57,0.049-5.211-1.15-7.438c-0.081-0.151-0.072-0.334,0.022-0.476	c0.842-1.263,1.392-2.644,1.636-4.105c0.001-0.003,0.001-0.007,0.002-0.01c0.634-3.359,0.655-5.781-1.119-8.223	c-0.002-0.003-0.004-0.005-0.006-0.008C37.295,5.166,32.624,2.986,28.218,2.986z"/><path fill="#10372a" d="M20.974,40.088c-3.232,0.835-6.61-0.436-8.498-3.16c-1.162-1.598-1.598-3.595-1.271-5.557	c0.073-0.327,0.145-0.617,0.218-0.944l0.256-0.938l0.508,0.363c1.198,0.872,2.432,1.882,3.848,2.318l0.363,0.109l-0.036,0.363	c-0.036,0.508,0.109,1.053,0.399,1.489c0.581,0.835,2.086,1.3,3.067,1.046c0.218-0.073,0.436-0.145,0.617-0.254l10.19-6.182	c0.508-0.327,0.567-1.206,0.676-1.787c0.109-0.581-0.036-1.198-0.363-1.671c-0.581-0.835-1.598-1.198-2.579-0.944	c-0.218,0.073-0.895,0.313-1.077,0.422l-3.813,2.433c-0.617,0.399-1.307,0.69-2.034,0.872c-3.232,0.835-6.61-0.436-8.498-3.16	c-1.126-1.598-1.531-4.31-1.168-6.271c0.327-1.889,1.489-3.595,3.123-4.612l9.92-5.641c0.617-0.399,1.307-0.69,2.034-0.908	c3.232-0.835,6.61,0.436,8.498,3.16c1.162,1.598,1.598,3.595,1.271,5.557c-0.073,0.327-0.145,0.617-0.254,0.944l-0.034,0.107	c-0.073,0.234-0.353,0.327-0.552,0.185l-0.105-0.075c-1.198-0.872-2.506-1.525-3.922-1.961l-0.363-0.109l0.036-0.363	c0.036-0.508-0.109-1.053-0.399-1.489c-0.581-0.835-1.688-1.122-2.668-0.868c-0.218,0.073-0.436,0.145-0.617,0.254l-9.861,6.279	c-0.508,0.327-0.835,0.799-0.944,1.38c-0.109,0.581,0.036,1.198,0.363,1.671c0.581,0.835,1.598,1.198,2.579,0.944	c0.218-0.073,0.436-0.145,0.617-0.254l3.813-2.433c0.617-0.399,1.307-0.69,2.034-0.908c3.232-0.835,6.986-0.553,8.875,2.171	c1.162,1.598,1.929,4.257,1.602,6.218c-0.327,1.889-1.489,3.595-3.123,4.612L23.007,39.18C22.39,39.58,21.7,39.87,20.974,40.088"/><path fill="#010101" d="M18.981,40.806c-0.991,0-1.977-0.177-2.921-0.529c-1.609-0.6-2.979-1.665-3.961-3.08	c-1.224-1.685-1.704-3.781-1.35-5.901c0.001-0.008,0.003-0.016,0.005-0.024c0.037-0.165,0.073-0.322,0.11-0.478	c0.036-0.152,0.072-0.305,0.108-0.467c0.002-0.007,0.003-0.014,0.005-0.021l0.256-0.938c0.04-0.146,0.149-0.263,0.291-0.314	c0.143-0.051,0.301-0.029,0.424,0.059l0.508,0.363c0.17,0.123,0.336,0.247,0.505,0.371c1.015,0.752,2.065,1.529,3.21,1.881	l0.36,0.108c0.212,0.064,0.35,0.269,0.328,0.489l-0.036,0.356c-0.027,0.403,0.093,0.848,0.323,1.193	c0.439,0.63,1.724,1.064,2.551,0.858c0.194-0.065,0.376-0.126,0.51-0.207l4.798-3.358l5.384-2.818	c0.253-0.168,0.348-0.754,0.417-1.182c0.017-0.105,0.033-0.205,0.051-0.298c0.084-0.446-0.024-0.94-0.289-1.322	c-0.462-0.664-1.272-0.963-2.067-0.763c-0.344,0.115-0.855,0.309-0.965,0.372l-3.807,2.429c-0.647,0.419-1.378,0.732-2.17,0.93	c-1.672,0.432-3.412,0.342-5.027-0.261c-1.611-0.601-2.602-1.841-3.584-3.258c-1.282-1.82-1.976-4.535-1.622-6.446	c0.345-1.995,1.592-3.837,3.334-4.921c0.005-0.003,0.01-0.006,0.016-0.009l9.909-5.635c0.612-0.394,1.313-0.707,2.141-0.955	c0.006-0.002,0.011-0.003,0.017-0.005c1.675-0.433,3.415-0.343,5.031,0.26c1.609,0.6,2.979,1.665,3.961,3.08	c1.224,1.685,1.704,3.781,1.35,5.901c-0.001,0.008-0.003,0.016-0.005,0.024c-0.066,0.295-0.144,0.62-0.267,0.99l-0.031,0.099	c-0.078,0.251-0.274,0.451-0.523,0.534c-0.249,0.084-0.526,0.042-0.74-0.11l-0.105-0.075c-1.155-0.84-2.428-1.477-3.789-1.895	l-0.36-0.108c-0.212-0.064-0.35-0.269-0.328-0.489l0.036-0.356c0.028-0.409-0.09-0.843-0.323-1.193	c-0.432-0.621-1.298-0.897-2.152-0.681c-0.192,0.064-0.372,0.125-0.505,0.204l-5.253,3.042l-4.603,3.233	c-0.404,0.26-0.653,0.622-0.738,1.075c-0.084,0.446,0.024,0.94,0.289,1.322c0.462,0.664,1.273,0.964,2.067,0.763	c0.191-0.064,0.371-0.125,0.505-0.204l3.703-2.077c0.612-0.396,1.316-0.711,2.15-0.961c0.006-0.002-0.006,0.001,0,0	c1.814-0.469,3.61-0.562,5.162-0.26c1.824,0.354,3.284,1.256,4.223,2.606c1.308,1.801,2.119,4.207,1.786,6.21	c-0.347,2.004-1.594,3.845-3.335,4.929l-10.694,6.683c-0.608,0.394-1.312,0.709-2.146,0.959c-0.006,0.002-0.011,0.003-0.017,0.005	C20.394,40.716,19.686,40.806,18.981,40.806z M11.66,31.46c-0.309,1.871,0.114,3.716,1.191,5.196	c0.002,0.003,0.004,0.006,0.006,0.008c1.772,2.556,4.983,3.751,7.993,2.977c0.745-0.224,1.369-0.503,1.907-0.851l10.701-6.687	c1.522-0.947,2.611-2.554,2.913-4.299c0.292-1.75-0.466-3.922-1.625-5.515c-0.002-0.003-0.004-0.006-0.006-0.009	c-2.26-3.26-6.966-2.35-8.37-1.988c-0.745,0.224-1.368,0.502-1.907,0.851l-3.711,2.083c-0.004,0.002-0.007,0.005-0.011,0.007	c-0.225,0.135-0.471,0.217-0.709,0.296c-0.01,0.003-0.02,0.006-0.03,0.009c-1.178,0.305-2.385-0.137-3.075-1.128	c-0.409-0.59-0.568-1.326-0.438-2.02c0.132-0.703,0.529-1.286,1.149-1.684l4.613-3.24l5.25-3.04c0.003-0.002,0.007-0.004,0.01-0.006	c0.225-0.135,0.471-0.217,0.709-0.296c0.01-0.003,0.021-0.006,0.031-0.009c1.233-0.32,2.504,0.103,3.164,1.052	c0.351,0.526,0.524,1.173,0.481,1.783c1.455,0.448,2.815,1.127,4.045,2.019c0.1-0.304,0.165-0.567,0.232-0.866	c0.309-1.871-0.114-3.716-1.191-5.196c-0.002-0.003-0.004-0.006-0.006-0.009c-1.772-2.556-4.983-3.751-7.994-2.977	c-0.745,0.224-1.369,0.502-1.907,0.851c-0.007,0.005-0.015,0.009-0.023,0.014l-9.912,5.636c-1.517,0.947-2.603,2.552-2.904,4.294	c-0.366,1.979,0.482,4.351,1.47,5.752c1.776,2.561,4.611,3.93,7.624,3.152c0.697-0.174,1.334-0.447,1.898-0.812l3.816-2.435	c0.004-0.002,0.007-0.005,0.011-0.007c0.273-0.164,1.16-0.461,1.169-0.464c0.01-0.003,0.02-0.006,0.03-0.009	c1.178-0.305,2.385,0.137,3.075,1.128c0.409,0.59,0.568,1.326,0.438,2.02c-0.016,0.086-0.031,0.179-0.047,0.275	c-0.103,0.636-0.23,1.427-0.834,1.816c-0.003,0.002-0.007,0.004-0.01,0.006l-5.382,2.96l-4.809,3.222	c-0.227,0.136-0.472,0.218-0.71,0.297c-0.01,0.003-0.021,0.007-0.032,0.009c-1.201,0.311-2.899-0.275-3.563-1.229	c-0.351-0.526-0.524-1.173-0.481-1.783c-1.299-0.4-2.413-1.225-3.49-2.022c-0.154-0.114-0.307-0.227-0.46-0.339l-0.078,0.286	c-0.036,0.161-0.072,0.314-0.108,0.467C11.729,31.155,11.695,31.303,11.66,31.46z"/></svg>
      </IconContainer>
      <IconContainer tech="Astro" colorBorder=#da3e8f>
        <svg
        width="60"
        height="60"
        viewBox="0 0 64 79"
        fill="#fffbec"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.9924 65.9282C16.1165 62.432 14.9851 55.0859 16.5999 49.7638C19.3998 53.1193 23.2793 54.1822 27.2977 54.7822C33.5013 55.7081 39.5937 55.3618 45.3565 52.5637C46.0158 52.2434 46.625 51.8174 47.3454 51.386C47.8861 52.9341 48.0268 54.497 47.838 56.0877C47.3787 59.9617 45.4251 62.9542 42.3177 65.2227C41.0752 66.13 39.7604 66.9411 38.4771 67.7967C34.5346 70.4262 33.4679 73.5095 34.9494 77.9946C34.9846 78.1038 35.0161 78.2131 35.0957 78.4797C33.0828 77.5909 31.6124 76.2965 30.4921 74.5946C29.3088 72.7984 28.7458 70.8114 28.7162 68.6615C28.7014 67.6152 28.7014 66.5597 28.5588 65.5282C28.2107 63.0135 27.0144 61.8876 24.7608 61.8227C22.4479 61.7561 20.6183 63.1672 20.1331 65.3893C20.0961 65.5597 20.0424 65.7282 19.9887 65.9263L19.9924 65.9282Z"
          fill="#fe5d01"></path>
        <path
          d="M0.5 51.3932C0.5 51.3932 11.0979 46.2433 21.7254 46.2433L29.7382 21.5069C30.0381 20.3106 30.9141 19.4977 31.9029 19.4977C32.8918 19.4977 33.7677 20.3106 34.0677 21.5069L42.0804 46.2433C54.6672 46.2433 63.3058 51.3932 63.3058 51.3932C63.3058 51.3932 45.3044 2.47586 45.2692 2.37772C44.7526 0.931458 43.8804 0 42.7045 0H21.1032C19.9273 0 19.0903 0.931458 18.5384 2.37772C18.4995 2.47401 0.5 51.3932 0.5 51.3932Z"
          fill="#fffbec"></path>
      </svg>
       </IconContainer> 
       <IconContainer tech="PostgresSQL" colorBorder=#da3e8f>
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(149, 106, 243, 1);transform: ;msFilter:;"><path d="M10.74 12.89v-.11c.06-.15.12-.29.19-.43a5.15 5.15 0 0 0 .26-3.74.86.86 0 0 0-.66-.74 3.12 3.12 0 0 0-2.08.61v.18a11.34 11.34 0 0 1-.06 2.41 2.37 2.37 0 0 0 .62 2 2 2 0 0 0 1.43.63 8.05 8.05 0 0 1 .3-.81zM10 8.58a.36.36 0 0 1-.09-.23.19.19 0 0 1 .09-.12.74.74 0 0 1 .48-.07c.25 0 .5.16.48.34a.51.51 0 0 1-.49.33h-.06a.63.63 0 0 1-.41-.25z"></path><path d="M7.88 11a12.58 12.58 0 0 0 .06-2.3v-.28a7 7 0 0 1 1.54-4.55c-1-.32-3.4-1-4.87.1-.9.64-1.32 1.84-1.23 3.55a24.85 24.85 0 0 0 1 4.4c.68 2.22 1.45 3.62 2.11 3.85.1 0 .41.13.86-.41.64-.76 1.23-1.41 1.5-1.7l-.19-.19A2.89 2.89 0 0 1 7.88 11zm3.5 3.4c-.16-.06-.24-.1-.42.11a2.52 2.52 0 0 0-.29.35c-.35.43-.5.58-1.51.79a2 2 0 0 0-.4.11 1 1 0 0 0 .37.16 2.21 2.21 0 0 0 2.5-.8.41.41 0 0 0 0-.35.59.59 0 0 0-.25-.37zm6.29-5.82a5.29 5.29 0 0 0 .08-.79c-.66-.08-1.42-.07-1.72.36-.58.83.56 2.88 1 3.75a4.34 4.34 0 0 1 .26.48 1.79 1.79 0 0 0 .15.31 3.72 3.72 0 0 0 .16-2.13 7.51 7.51 0 0 1-.07-1.05 6 6 0 0 1 .14-.93zm-.56-.16a.6.6 0 0 1-.32.17h-.06a.47.47 0 0 1-.44-.3c0-.14.2-.24.44-.28s.48 0 .5.15a.38.38 0 0 1-.12.26z"></path><path d="M17 4.88a6.06 6.06 0 0 1 1.37 2.57.71.71 0 0 1 0 .15 5.67 5.67 0 0 1-.09 1.06 7.11 7.11 0 0 0-.09.86 6.61 6.61 0 0 0 .07 1 4 4 0 0 1-.36 2.71l.07.08c2.22-3.49 3-7.54 2.29-8.43a4.77 4.77 0 0 0-3.81-1.8 7.34 7.34 0 0 0-1.63.16A6.17 6.17 0 0 1 17 4.88z"></path><path d="M21.65 14c-.07-.2-.37-.85-1.47-.62a6.28 6.28 0 0 1-1 .13 19.74 19.74 0 0 0 2.06-4.88c.37-1.45.66-3.39-.11-4.38A5.91 5.91 0 0 0 16.37 2a8.44 8.44 0 0 0-2.46.35 9.38 9.38 0 0 0-1.45-.14 4.8 4.8 0 0 0-2.46.62 12.22 12.22 0 0 0-1.77-.44A5.44 5.44 0 0 0 4 3.05c-1.24.87-1.81 2.39-1.71 4.52a26.28 26.28 0 0 0 1 4.67A15.76 15.76 0 0 0 4.4 15a3.39 3.39 0 0 0 1.75 1.83 1.71 1.71 0 0 0 1.69-.37 2 2 0 0 0 1 .59 3.65 3.65 0 0 0 2.35-.14v.81a8.46 8.46 0 0 0 .31 2.36 1 1 0 0 1 0 .13 3 3 0 0 0 .71 1.24 2.08 2.08 0 0 0 1.49.56 3 3 0 0 0 .7-.08 3.27 3.27 0 0 0 2.21-1.27 7.34 7.34 0 0 0 .91-4v-.26h.17a5.24 5.24 0 0 0 2.4-.4c.45-.23 1.91-1 1.56-2zm-1.81 1.47a4.7 4.7 0 0 1-1.8.34 2.62 2.62 0 0 1-.79-.1c-.1.94-.32 2.69-.45 3.42a2.47 2.47 0 0 1-2.25 2.3 3.23 3.23 0 0 1-.66.07A2 2 0 0 1 12 20a16.77 16.77 0 0 1-.28-4.06 2.56 2.56 0 0 1-1.78.66 3.94 3.94 0 0 1-.94-.13c-.09 0-.87-.23-.86-.73s.66-.59.9-.64c.86-.18.92-.25 1.19-.59a2.79 2.79 0 0 1 .19-.24 2.56 2.56 0 0 1-1.11-.3c-.23.25-.86.93-1.54 1.74a1.43 1.43 0 0 1-1.11.63 1.23 1.23 0 0 1-.35 0C5.43 16 4.6 14.55 3.84 12a25.21 25.21 0 0 1-1-4.53c-.1-1.92.4-3.28 1.47-4 1.92-1.36 5-.31 5.7-.06a4 4 0 0 1 2.41-.66 5.58 5.58 0 0 1 1.4.18 7.51 7.51 0 0 1 2.5-.4 5.35 5.35 0 0 1 4.32 2c.69.88.23 3 0 3.89a18.84 18.84 0 0 1-2.41 5.41c.16.11.65.31 2 0 .46-.1.73 0 .82.25.22.55-.7 1.13-1.21 1.37z"></path><path d="M17.43 13.59a4 4 0 0 1-.62-1c0-.07-.12-.24-.23-.43-.58-1-1.79-3.22-1-4.34a2.16 2.16 0 0 1 2.12-.61 6.28 6.28 0 0 0-1.13-1.94 5.41 5.41 0 0 0-4.13-2 3.34 3.34 0 0 0-2.55.95A5.82 5.82 0 0 0 8.51 7.8l.15-.08A3.7 3.7 0 0 1 10 7.3a1.45 1.45 0 0 1 1.76 1.19 5.73 5.73 0 0 1-.29 4.09 3.29 3.29 0 0 0-.17.39v.11c-.1.27-.19.52-.25.73a.94.94 0 0 1 .57.07 1.16 1.16 0 0 1 .62.74v.16a.28.28 0 0 1 0 .09 22.22 22.22 0 0 0 .22 4.9 1.5 1.5 0 0 0 2 1.09A1.92 1.92 0 0 0 16.25 19c.15-.88.45-3.35.49-3.88 0-1.06.52-1.27.84-1.36z"></path><path d="m18 14.33-.08-.06h-.12c-.26.07-.5.14-.47.8a1.9 1.9 0 0 0 .93.12 4.29 4.29 0 0 0 1.38-.29 3 3 0 0 0 .79-.52 3.47 3.47 0 0 1-2.43-.05z"></path></svg>
       </IconContainer>
       <IconContainer tech="Git&GitHub" colorBorder=#da3e8f>
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"></path></svg>
      </IconContainer>
      <IconContainer tech="Firebase" colorBorder=#da3e8f>
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(255, 227, 0, 1);transform: ;msFilter:;"><path d="M5.239 15.063 7.21 2.381a.453.453 0 0 1 .847-.145l2.12 3.979-4.938 8.848zM19.24 18.14 17.363 6.469a.454.454 0 0 0-.766-.246L4.76 18.14l6.55 3.691c.411.23.912.23 1.323 0l6.607-3.691zM13.917 7.955 12.4 5.052a.452.452 0 0 0-.8 0L4.939 16.989l8.978-9.034z"></path></svg>
      </IconContainer>
      <IconContainer tech="VSCode" colorBorder=#da3e8f>
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(19, 156, 189, 1);transform: ;msFilter:;"><path d="m21.29 4.1-4.12-2a1.36 1.36 0 0 0-.48-.1h-.08a1.18 1.18 0 0 0-.72.24l-.14.12-7.88 7.19L4.44 7a.83.83 0 0 0-.54-.17.88.88 0 0 0-.53.17l-1.1 1a.8.8 0 0 0-.27.61.84.84 0 0 0 .27.62l3 2.71-3 2.72a.84.84 0 0 0 0 1.23l1.1 1a.89.89 0 0 0 .6.22.93.93 0 0 0 .47-.17l3.43-2.61 7.88 7.19a1.2 1.2 0 0 0 .76.36h.17a1 1 0 0 0 .49-.12l4.12-2a1.25 1.25 0 0 0 .71-1.1V5.23a1.26 1.26 0 0 0-.71-1.13zM17 16.47l-6-4.53 6-4.53z"></path></svg>
      </IconContainer>
      <IconContainer tech="Markdown" colorBorder=#da3e8f>
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(197, 203, 220, 1);transform: ;msFilter:;"><path d="M20.553 18.15H3.447a1.443 1.443 0 0 1-1.442-1.441V7.291c0-.795.647-1.441 1.442-1.441h17.105c.795 0 1.442.646 1.442 1.441v9.418a1.441 1.441 0 0 1-1.441 1.441zM6.811 15.268V11.52l1.922 2.402 1.922-2.402v3.748h1.922V8.732h-1.922l-1.922 2.403-1.922-2.403H4.889v6.535h1.922zM19.688 12h-1.922V8.732h-1.923V12h-1.922l2.884 3.364L19.688 12z"></path></svg> 
      </IconContainer>
      <IconContainer tech="Figma" colorBorder=#da3e8f>
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(141, 114, 243, 1);transform: ;msFilter:;"><path d="M15.332 8.668a3.333 3.333 0 0 0 0-6.663H8.668a3.333 3.333 0 0 0 0 6.663 3.333 3.333 0 0 0 0 6.665 3.333 3.333 0 0 0 0 6.664A3.334 3.334 0 0 0 12 18.664V8.668h3.332z"></path><circle cx="15.332" cy="12" r="3.332"></circle></svg>
      </IconContainer>
    </div>
  </section>
  <!-- Proyectos -->
  <section class="proyects">
    <h2 class="heading">Proyectos</h2>
    <div class="grid col-3 md-col-2 sm-col-1">
      <div>
        <CardProyects
          title="MEXIC0DE"
          about="Sitio oficial de MEXIC0DE. Desarrollado con Astro, es el portafolio del grupo de desarroladores MEXIC0DE"
          img="https://phx02pap002files.storage.live.com/y4mjCuSoDICUagL1hWYLfcFl9KKor_iqh-F9R2XBkBOMpJeZIyFzkpL6Jesfj2RShyW9SdTCUknfY790RtT0XZ3IjKMsWjc6AjrPVqCrSRbZ-DxUSGRxOup7oz3l6L98ymp75evxkeraixQM6Sapfd4-7mWp1lH3rdOd937OjPMxGMFnFaIubb31nU1BWtDPLqi?width=960&height=720&cropmode=none"
          gh="https://github.com/MexicodeInc2023/Mexic0de.git"
          pg="/"
          extra={true}
          hoverdelrio="#da3e8f"
          borderColor="#f78fb3"
          butonColor="#f78fb3"
        />
      </div>
      <div>
        <CardProyects
          title="MEXIC0DE-TUTO"
          about="Blog oficial de MEXIC0DE. Desarrollado con Astro, es un blog con articulos de tecnologia y tutoriales"
          img="https://phx02pap002files.storage.live.com/y4mr61C7FG37u-v10hxod7SP01aZ-YJNM9eugip4SGgEBRFCaf2kL78K5aoAjxf_YuWJTX3vHYyHIG9qugUl0fwMKzJ93lM39MEg5IprbhZiKzb0hHt3FHsMGXW67Zv1GqVgIdbU1WWijI5GSAmYP_GSTu3MpFF423ean57vVGovEQZv3-cP4y7_Lt5QkNXIej3?width=1400&height=1050&cropmode=none"
          gh="https://github.com/MexicodeInc2023/Mexic0deBlog.git"
          pg="https://mexic0de-blog.vercel.app/"
          extra={true}
          hoverdelrio="#da3e8f"
          borderColor="#f78fb3"
          butonColor="#f78fb3"
        />
      </div>
      <div>
        <CardProyects
          title="MEXIC0DE SEARCH"
          about="Pagina de buscador personalizada. Desarrollado con Svelte, es un sitio que emula el sitio google.com y añade marcadores personalizables"
          img="https://phx02pap002files.storage.live.com/y4mocD9BS-qHMd-T4NZwnxT9pkJ45hOUO5dnJ87c41cpe9VaD4FIBxZPXZMSNN4uyPLc0ff-E670qXzDZwPh27xA11q2MabvmBfG31ctKC0aoBuQiI4q6lO7hPSWpCVWggvrWtq7aQ41TsSWC8QEHD-GJyuBigYMhGljbQmPyFSD-10-4FFl5ohdtKEp1vxQr83?width=960&height=720&cropmode=none"
          gh="https://github.com/MexicodeInc2023/Mexic0deSearch"
          pg="https://mexcde-search.netlify.app/"
          extra={true}
          hoverdelrio="#da3e8f"
          borderColor="#f78fb3"
          butonColor="#f78fb3"
        />
      </div>
      <div>
        <CardProyects
          title="POLICARD"
          about="Applicación Web para UPTAP. Desarrollado con Svelte, es una aplicación web que hace uso de una API-REST desarrollada con DJANGO; el objetivo es crear un sistema de credencialización para la Universidad"
          img="https://phx02pap002files.storage.live.com/y4mEopybeAXZZINyATZFR2MKbM4sJ830NRvRw5MqO18qowWZgqK5RHUf47iuixBztBIkLmAV4KOg1x2mUUERxgRXVRlc18NVDtbmnKHc2sPNxTzyvsboV7X9m9FiZKrpTqSxbjfrhTF2XNxxGr14ZA2v3C4GNZ3G06jQRDJrzZUkBbi3S-6pTrGyuiWjceoQdis?width=960&height=720&cropmode=none"
          gh=""
          pg=""
          extra={false}
          hoverdelrio="#da3e8f"
          borderColor="#f78fb3"
          butonColor="#f78fb3"
        />
      </div>
    </div>
  </section>
  <!-- Contacto -->
  <section class="contact" id="contact">
    <h2 class="heading">Contacto</h2>
    <ContactCard 
      backgroundColor="#100816"
      backgroundHover="#000000"
      backgroundBtn="#7d7f7d"
      pic={Picture_Enrique}
      name="Enrique Aguilar Armenta"
      role="Front-end"
      numJobs="5"
      address="enriqueaarmenta@gmail.com"
    />
  </section>

  <Footer />
</Folio>

<style>

    body{
       
     background-color:#100816;
        
    }
    
  section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    scroll-snap-align: start;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  section.show {
    opacity: 1;
  }

  span {
    color: #da3e8f;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    flex-wrap: wrap-reverse;
  }
  .hero-content {
    max-width: 60rem;
    flex-basis: 60%;}
  }

  .img {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .img img {
    width: 100%;
    height: auto;
    animation: float 3s ease-in-out infinite;
  }

  .img img:hover {
    animation-play-state: paused;
  }
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  .home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
  }
  .text-animate {
    font-size: 3rem;
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  .hero-content p {
    font-size: 1.9rem;
    margin: 2rem 0 4rem;
  }

  .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
  }
  .btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color:  #da3e8f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

  .btn-box .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #100816;
    transition: width 0.3s ease-in-out;
  }
  .btn-box .btn:hover::before {
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
  }
  .btn-box .btn:hover::before {
    width: 100%;
    border: 2px solid  #f78fb3;
    border-radius: 5px;
    padding: 1rem;
    content: "✉"; /* Agrega el texto del botón */
    color: white;
  }

  .btn-box .btn:first-child {
    background-color: #100816;
    color: white;
    border: 2px solid  #f78fb3;
  }
  .btn-box .btn:first-child:hover::before {
    background-color:  #da3e8f;
    content: "✔";
    color: white;
  }

  .social {
    position: absolute;
    bottom: 10rem;
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  .social a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 2px solid #f78fb3;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    z-index: 1;
    overflow: hidden;
  }
  .social a:hover {
    background-color: #f78fb3;
    color: #080c12;
  }

  .edu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
  }

  .heading {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    color:  #da3e8f;
  }
  .edu-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }

  .edu-row .edu-col {
    flex: 1 1 40rem;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 0 1.5rem 2rem;
  }

  .edu-col .edu-box {
    border-left: 2px solid  #da3e8f;
  }
  .edu-box .edu-cont {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 2rem;
  }
  .edu-box .edu-cont::before {
    content: "";
    position: absolute;
    top: 1.4rem;
    left: -1.01rem;
    width: 2rem;
    height: 2rem;
    background-color:  #da3e8f;
    border-radius: 50%;
  }
  .edu-cont .content {
    position: relative;
    padding: 1.5rem;
    overflow: hidden;
  }
  .edu-cont .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #f056560c;
    border-radius: 5px;
    z-index: -1;
    transition: 0.5s;
  }
  .edu-cont .content:hover::before {
    width: 100%;
  }
  .content .year {
    font-size: 1.5rem;
    color:  #da3e8f;
    padding-bottom: 0.5rem;
  }

  .year i {
    padding-right: 0.5rem;
  }
  .content h4 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .content p {
    font-size: 1.7rem;
  }

  .grid {
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 20px;
  }
  
  .skill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
  }

  .proyects {
    min-height: auto;
    padding: 5rem 2rem;
    overflow: hidden;
  }

  .contact {
    min-height: auto;
    padding-bottom: 15rem;
    background-color: #f056560c;
  }

  /* Resposive Hero Section */

  @media screen and (max-width: 425px) {
    .hero {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    .img {
      width: 100%;
      height: 100%;
      padding-top: 10rem;
      margin: auto;
    }

    .img img {
      width: 100%;
      height: 100%;
    }
    .hero .hero-col {
      flex: 1 1 100%;
      margin-bottom: 2rem;
    }
    .social {
      position: absolute;
      bottom: -1rem;
      right: 1rem;
    }

    .proyects {
      padding: 6rem;
    }
  }

  @media screen and (max-width: 375px) {
    .hero {
      padding: 1rem 1rem;
      
    }

    .hero h1 {
      font-size: 3rem;
    }
  }
  @media screen and (max-width: 320px) {
    .hero {
      padding: 1rem 1rem;
      margin: 0;
    }

    .hero h1 {
      font-size: 2.9rem;
      padding-left: 5rem;
    }

    .hero h3 {
      font-size: 1.9rem;
      padding-left: 5rem;
    }

    .hero p {
      font-size: 1.9rem;
      padding-left: 5rem;
    }

    .hero .btn-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .hero .btn {
      font-size: 1.5rem;
      margin-top: 10px;
      width: 23rem;
      height: 10rem;
      padding: 1rem 1rem;
    }
    .proyects {
      padding: 1rem 1rem;
    }
  }
</style>

<script is:inline>
const sections = document.querySelectorAll("section");

function showSections() {
  sections.forEach((section) => {
    const sectionTop = section.offsetTop;
    const sectionHeight = section.clientHeight;
    const windowHeight = window.innerHeight;

    if (window.pageYOffset > sectionTop - windowHeight + sectionHeight / 2) {
      section.classList.add("show");
    } else {
      section.classList.remove("show");
    }
  });
}

window.addEventListener("scroll", showSections);
window.addEventListener("resize", showSections);

showSections();
</script>
