---
import Team from "../layouts/Team.astro";
import Chepe from "../../public/assets/Chepe.png";
import Mario from "../../public/assets/Mario.jpg";
import Senuez from "../../public/assets/Senuez.png";
import Enagar from "../../public/assets/Enagar.png";
import Temo from "../../public/assets/temof.png";
import TeamCard from "../components/TeamCard.astro";
/* Aqui se importa los componentes si es que usan */
---

<Team title="Integrantes">
  <!-- Dentro de este Layout va su html -->

  <div class="team-carousel swiper">
    <div class="swiper-wrapper">
      <div class="team-member swiper-slide">
        <TeamCard
          name="Mario Alejandro Rosales Muñoz"
          img={Mario}
          rol="Full Stack - Senior "
          path="./marm"
          color="#03bfcb"
          skills={["Front End Development", "Back End Development", "DataBase Develoment"]}
        />
      </div>
      <div class="team-member swiper-slide">
        <TeamCard
          name="Jose Angel Arjona Matheis"
          img={Chepe}
          rol="FrontEnd Developer"
          path="https://arjmath.vercel.app/"
          color="#26ae5e"
          skills={["UI/UX", "Front End Development", "Web Development"]}
        />
      </div>
      <div class="team-member swiper-slide">
        <TeamCard
          name="Cesar Eduardo Zepeda Melendez"
          img={Senuez}
          rol="BackEnd Developer"
          path="./cesar"
          color="#ec365b"
          skills={["Back End Development", "Web Development"]}
        />
      </div>
      <!-- Los siguientes elementos se mostrarán en el carrusel -->
      <div class="team-member swiper-slide">
        <TeamCard
          name="Enrique Aguilar Armenta"
          img={Enagar}
          rol=" FrontEnd Developer "
          path="./enagar"
          color="#da3e8f"
          skills={[ "Front End Development", "Web Development"]}
        />
      </div>
      <div class="team-member swiper-slide">
        <TeamCard
          name="Eduardo Antonio Flores de Leon"
          img={Temo}
          rol="FrontEnd Developer "
          path="./temo"
          color="#e4e407"
          skills={["Front End Development", "Web Development", "BusinessMan"]}
        />
      </div>
    </div>
    <!-- Flechas de navegación -->
    <div class="swiper-button-next arrows"></div>
    <div class="swiper-button-prev arrows"></div>
  </div>
</Team>

<style>
  .arrows {
    color: var(--light);
  }
  .team-carousel {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
  }
</style>

<script>
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js";
  const teamCarousel = new Swiper(".team-carousel", {
    slidesPerView: 2,
    spaceBetween: 0,
    enabled: true,
    grabCursor: true,
    autoplay: {
      delay: 5000,
    },
    keyboard: {
      enabled: true,
      onlyInViewport: false,
    },
    lazyPreloaderClass: "swiper-lazy-preloader",
    rewind: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      // when window width is >= 320px
      320: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      // when window width is >= 480px
      480: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      // when window width is >= 640px
      640: {
        slidesPerView: 3,
        spaceBetween: 40,
      },
    },
  });
</script>
