---
export interface Props {
  img: string;
  title: string;
  about: string;
  extra: boolean;
  gh: string;
  pg: string;
  bgcolor?: string;
  hoverdelrio?: string;
  borderColor?: string;
  butonColor?: string;
}

const { img, title, about, gh, pg, extra, bgcolor, hoverdelrio, borderColor, butonColor} = Astro.props;
---

<div class="card">
  <img src={img} alt="Imagen de proyecto" decoding="async" loading="lazy" />
  <div class="card-content">
    <h2>{title}</h2>
    <p>{about}</p>
    <div class="card-buttons">
      {
        extra ? (
          <>
            <a href={gh} class="github-button" target="_blank">
              <i class="fab fa-github" />
              GitHub
            </a>
            <a href={pg} class="other-button" target="_blank">
              Pagina Web
            </a>
          </>
        ) : (
          <>Confidencial</>
        )
      }
    </div>
  </div>
</div>

<style define:vars={{ bgcolor, hoverdelrio, borderColor, butonColor}}>
  .card {
    position: relative;
    width: 25vw;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateY(0deg);
    border: 1px solid var(--borderColor, --primary, --butonColor);
  }

  .card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: perspective(800px) rotateX(10deg);
  }

  .card img {
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
    transform: translateZ(-1px);
  }

  .card:hover img {
    filter: none;
  }

  .card-content {
    width: 100%;
    padding: 20px;
    background-color: var(--bgcolor, --primary);
  }

  .card:hover .card-content {
    background-color: var(--hoverdelrio, --primary);
  }

  .card-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .card-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .card-buttons {
    display: flex;
  }

  .github-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin-right: 10px;
    color: var(--light);
    background-color: var(--dark);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .github-button:hover {
    background-color: var(--light);
    color: black;
    border: 1px solid black;
  }

  .other-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: var(--dark);
    background-color: var(--butonColor);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .other-button:hover {
    background-color: var(--butonColor);
    color: var(--light);
    border: 1px solid var(--hoverdelrio);
  }

  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }
</style>
